@import '../modules/variables';
@import '../partials/core';


.widgetBackgroundContent {
  margin: 0 5%;
}

.widgetBackgroundContent_highlight {
  @extend .highlight;
  font-size: $font-m;
  margin-bottom: 1em;
}

.widgetBackgroundContent_title {
  @extend .title-sans;
  font-size: $font-xl;
  margin-bottom: 1em;
  text-transform: capitalize;
}

.widgetBackgroundContent_text {
  @extend .text;
  margin-bottom: 1em;
}

.widgetBackgroundContent_button {
  @extend .button;

}

@media screen and (min-width: $media-md) {
  .widgetBackgroundContent {
    margin: 0 10%;
  }

  .widgetBackgroundContent_highlight {
    font-size: $font-l;
  }

  .widgetBackgroundContent_title {
    font-size: $font-xl;
  }

  .widgetBackgroundContent_button {
    font-size: $font-s;
  }
}

@media screen and (min-width: $media-lg) {
  .widgetBackgroundContent {
    margin: 0 15%;
  }
}

