.header {
  position: absolute;
  top: 0;
  width: 100%;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
}

.logo {
  margin: 10% 5%;
  float: left;
  color: #fff;
}

.header_menuIcon {
  margin: 10% 5% 0 0;
  float: right;
}

//nav
.header_nav {
  width: 40%;
  position: absolute;
  left:100%;
  background-color: #fff;
  color: #000;
  top: 70%;
  z-index: 9999;
  text-align: center;

  -moz-transition: left 0.5s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;
  -webkit-transition: left 0.5s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;

  .header_navItem {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 900;
    border-bottom: 2px solid  #000;
  }

  .header_navItem:first-child {
    border-top: 2px solid  #000;
  }

  .header_navItemLink {
    color: #000;
  }
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

//header active
.header.active {
  .header_nav {
    left: 60%;
    -moz-transition: left 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
    -webkit-transition: left 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
  }
}
