
.widgetBackground {
  position: relative;
  height: 400px;
  max-width: 100%;
  overflow: hidden;
}

.widgetBackground_container {
  height: inherit;
  width: inherit;
  img {
    min-height: 100%;
    min-width: 100%;
    background-color: #000000;
    opacity: 0.3;
  }

  iframe {
    background-color: #000000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.widgetBackgroundContent {
  position: absolute;
  padding: 10%;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  max-width: 100%;
  text-align: center;
}

.widgetBackgroundContent_highlight {
  margin-bottom: 10px;
}

.widgetBackgroundContent_title {
  padding: 0;
  font-size: 36px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .widgetBackgroundContent_title {
    padding: 0;
    margin-bottom: 40px;
  }
  .widgetBackground_container iframe {
    top: -50%;
    height: 200%;
  }
}

@media screen and (min-width: 1024px) {
  .widgetBackground {
    height: 600px;
  }

  .widgetBackground_container iframe {
    top: -50%;
    height: 200%;
  }

  .widgetBackgroundContent_title {
    padding: 0 30%;
    font-size: 60px;
    margin-bottom: 40px;
  }
}

