@import '../../styles/modules/variables';

.header {
  justify-content: space-around;
  font-family: 'Oxygen', sans-serif;
  text-transform: uppercase;
  z-index: 999;
  color: #fff;
}

.logo {
  color: #fff;
  z-index: 999;
}

.header_navItems {
  justify-content: space-around;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

@media (min-width: $media-md) {
  .header_menuIcon {
    display: none;
  }
  .header_navItems {
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }
}

.header_navItems {
  background: #fff;
  padding: 10px;
}

.header_navItem {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 900;
  border-bottom: 1px solid  #000;
  text-align: center;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

//header active
.header.active {
  .header_nav {
    left: 60%;
    -moz-transition: left 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
    -webkit-transition: left 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
  }
}