@import '../../styles/modules/variables';

.header {
  justify-content: space-around;
  font-family: $main-sans;
  text-transform: uppercase;
  z-index: 999;
  color: $brand-main;
  width: 100%;
  overflow: hidden;
}

.logo {
  color: $brand-main;
  z-index: 999;
  position: absolute;
  top: 5%;
  left: 5%;
}

.header_nav {
  position: absolute;
  top: 10%;
  left: 100%;
  z-index: 9;
  width: 50%;
  -moz-transition: all 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
  -webkit-transition: all 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
}

.header_navItems {
  background: $brand-main;
  padding: 10px;
  justify-content: space-around;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}


.header_navItem {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 900;
  border-bottom: 4px double  $brand-sub;
  text-align: center;
  color: $brand-black;
}

.header_navItem:last-child {
  border-bottom: none;
}

.header_navItemLink {
  color: $brand-black;
}

//header active
.header.active {
  .header_nav {
    left: 50%;
  }
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

@media (min-width: $media-md) {
  .header_menuIcon {
    display: none;
  }
  .header_navItems {
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }
}