@import '../modules/variables';
@import '../partials/core';

//mainVideo
.widgetBackground-mainVideo {
  @include tint(rgba(0,0,0,0.5));
  height: 400px;

  .widgetBackgroundContent_highlight {
  }

  .widgetBackgroundContent_title {
    text-transform: uppercase;
  }

  .widgetBackgroundContent_button {
    @extend .button-main;
  }
}

@media (min-width: $media-md) {
  .widgetBackground-mainVideo {
    height: $widget-height-xl;
  }
}

//intro
.widgetBackground-intro {
    @include tint($brand-grey-sub);

  .widgetBackgroundContent_title {
    margin-bottom: 0.5em;
    font-family: $main-serif;
    color: $brand-black;
    font-weight: 100;
  }
}

//passion
.widgetBackground-passion {
  @extend .widgetBackground-intro;
  @include tint($brand-main);

  height: $widget-height-xl;

  .widgetBackgroundContent_media {
    margin-bottom: 30px;
  }

  .widgetBackgroundContent_button {
    @extend .button-sub;
  }
}

