@import '../modules/variables';
@import '../partials/core';

//mainVideo
.widgetBackground-mainVideo {
  @include tint(rgba(0,0,0,0.7));
  height: 450px;

  .widgetBackgroundContent_highlight {
  }

  .widgetBackgroundContent_title {
    text-transform: uppercase;
  }

  .widgetBackgroundContent_button {
    @extend .button-main;
  }
}

@media (min-width: $media-md) {
  .widgetBackground-mainVideo {
    height: $widget-height-xl;
  }
}

//intro
.widgetBackground-intro {
    @include tint($brand-grey-sub);

  .widgetBackgroundContent_title {
    margin-bottom: 0.5em;
    font-family: $main-serif;
    color: $brand-black;
    font-weight: 100;
  }
}

//passion
.widgetBackground-passion {

  .widgetBackgroundContent_media iframe {
    min-width: 340px;
    min-height: 230px;
  }

  @extend .widgetBackground-intro;
  @include tint($brand-main);

  height: $widget-height-l;

  .widgetBackgroundContent_media {
    margin-bottom: 30px;
  }

  .widgetBackgroundContent_button {
    @extend .button-sub;
  }
}

// Breakpoint
@media (min-width: $media-md) {
  .widgetBackground-passion {
    height: $widget-height-xl;

    .widgetBackgroundContent_media iframe {
      min-width: 560px;
      min-height: 315px;
    }
  }
}

@media (min-width: $media-lg) {
  .widgetBackground-passion {
    height: $widget-height-xxl;

    .widgetBackgroundContent_media iframe {
      min-width: 711px;
      min-height: 400px;
    }
  }
}


