@import '../../styles/modules/variables';

.footer {
  justify-content: space-around;
  font-family: $main-sans;
  text-transform: uppercase;
  z-index: 999;
  color: $brand-main;
  width: 100%;
  overflow: hidden;
}

.logo {
  color: $brand-main;
  z-index: 999;
  position: absolute;
  top: 5%;
  left: 5%;
}

.footer_nav {
  position: absolute;
  top: 10%;
  left: 100%;
  z-index: 9;
  width: 50%;
  -moz-transition: all 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
  -webkit-transition: all 0.5s ease 0.1s, width 0s ease-out 0.1s, border-width 0s ease-out 0.1s;
}

.footer_navItems {
  background: $brand-main;
  padding: 10px;
  justify-content: space-around;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}


.footer_navItem {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 900;
  border-bottom: 4px double  $brand-sub;
  text-align: center;
  color: $brand-black;
}

.footer_navItem:last-child {
  border-bottom: none;
}

.footer_navItemLink {
  -webkit-font-smoothing: antialiased;
  color: $brand-black;
}

//footer active
.footer.active {
  .footer_nav {
    left: 50%;
  }
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

@media (min-width: $media-md) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    opacity: 0.8;
    color: $brand-main;
  }

  .logo:hover {
    opacity: 1;
  }

  .footer_nav {
    left: unset;
    width: unset;
    top: 5%;
    right: 5%;
    color: $brand-main;
    background: none;
  }

  .footer_navItems {
    background: none;
  }

  .footer_navItem {
    border: none;
  }

  .footer_navItemLink {
    opacity: 0.8;
    color: $brand-main;

  }

  .footer_navItemLink:hover {
    opacity: 1;
  }

  .footer_menuIcon {
    display: none;
  }

  .footer_navItems {
    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
  }
}
