@import '../../styles/modules/variables';

// footer block
.footer {
  text-align: center;
  padding: 5%;
  background: $brand-black;
  -webkit-font-smoothing: antialiased;
}

// footer-nav-menu
.footer-nav-menu {
  text-transform: uppercase;
  font-size: $font-xs;
  font-family: $main-sans;
  margin: 5% 0 0 0;
}

.footer-nav-menu__item {
  margin: 2% 20%;
}

.footer-nav-menu__item-link {
  color: $brand-grey-t1;
}

.footer-nav-menu__item-link:hover {
  color: $brand-main;
}

//footer content
.footer-content {
  margin: 5% 0 0 0;
}

.footer-title {
  font-family: $main-sans;
  color: $brand-grey;
  font-size: $font-s;
}

.footer-subtitle {
  color: $brand-grey-t1;
  font-family: $main-sans;
  font-size: $font-s;
}

.footer-subtitle:hover {
  color: $brand-main;
}

.footer-text {
  margin-top: 5%;
  font-family: $main-sans;
  font-size: $font-xxs;
  color: $brand-grey;
}
// footer-term
.footer-nav-term {
  margin-top: 2%;
  text-transform: capitalize;
  font-family: $main-sans;
  color: $brand-grey;
}

.footer-nav-term__item-link {
  color: $brand-grey;
  font-size: $font-xxs;
}

//footer social
.footer-nav-social {
  margin-top: 5%;
}

.footer-nav-social__item-link {
  color: $brand-grey;
}